<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="public/main.css" />
  <script src="public/script.js"></script>
</head>
<body>
  <div class="about">
    Let's Code it is a platform that started with a team of 3 people<br>
    that want;s to make programming easier for benniners and even pro's<br>
    by working together as a team. Getting jobs for each other and also<br>
    working on great projects together in order to make life easier for<br>
    developers.<br>
    Let's Code it started on 28th November 2018 and we've been working<br>
    on several projects and we always accept new developers with joy in<br>
    our heart.
  </div>
</body>
</html>