<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="public/main.css" />
  <script src="public/script.js"></script>
</head>
<body>
  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>specialization</th>
    </tr>
    <tr>
      <td>John</td>
      <td>Otitoju</td>
      <td>Nodejs, React</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Ibiyomi</td>
      <td>HTML, CSS, PHP</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Arokoyo</td>
      <td>PHP, Content Creator</td>
    </tr>
  </table>
</body>
</html>